.taskRegister {
  display: flex;
  gap: .5rem;
  margin-top: calc(0px - 54px / 2);
}

.field {
  flex: 1;
  height: 54px;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  padding: 1rem;
  border: none;
}

.field::placeholder {
  color: var(--gray-300);
}

.submitButton {
  color: var(--white);
  background-color: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: .5rem;
  border-radius: .5rem;
  font-weight: bold;
}

.submitButton::after {
  content: '+';
  display: block;
  font-size: .75rem;
  color: var(--white);
  border: 1px solid var(--white);
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;
}