.tasks {
  margin-top: 4rem;
}

.tasksHeader {
  display: flex;
  justify-content: space-between;
}

.tasksInfo {
  display: flex;
  gap: 1rem;
}

.tasksInfoCounter {
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: .75rem;
  font-size: .825rem;
  font-weight: bold;
  padding-left: .5rem;
  padding-right: .5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createdTasksTitle {
  font-weight: bold;
  color: var(--blue-300);
}

.completedTasksTitle {
  font-weight: bold;
  color: var(--purple-300);
}

.emptyTasks {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  border-radius: 16px;
  border-top: 2px solid var(--gray-500);
}

.emptyTasksTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray-300);
  margin-top: 1rem;
}

.emptyTasksSubtitle {
  color: var(--gray-300);
  font-size: 1.5rem;
}

.tasksList {
  margin-top: 1.5rem;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
  list-style: none;
  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
  transition: background-color .1s;
  border: 1px solid var(--gray-400);
}

.task:hover {
  background-color: var(--gray-400);
}

.task+.task {
  margin-top: 1rem;
}

.task.taskDone {
  border: transparent;
}

.task.taskDone .taskLabel {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task.taskDone .taskCheck {
  border-color: var(--purple-300);
  background-color: var(--purple-300);
  color: var(--white);
}

.taskCheck {
  border: 2px solid var(--blue-300);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .75rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

.taskLabel {
  flex: 1;
  color: var(--white);
}

.taskDelete {
  padding: .5rem;
  cursor: pointer;
}